language: python
python:
- 3.6
env:
- REPOSITORY="uc-cdis/gen3sdk-python" PR_NUMBER="$TRAVIS_PULL_REQUEST"
install:
- pip install -r requirements.txt
- pip install -r test-requirements.txt
- if [[ $TRAVIS_PYTHON_VERSION == 3.6 ]]; then pip install -e git+https://git@github.com/uc-cdis/wool.git#egg=wool;
  fi
- mv $VIRTUAL_ENV/src/indexclient/indexclient gen3/.
script:
- sed -i.bak "s/0.1.0/$(git describe --tags --abbrev=0 --match=[0-9]*)/g" setup.py
- python setup.py install
- py.test -vv tests
- if [[ $TRAVIS_PYTHON_VERSION == 3.6 && $PR_NUMBER != false ]]; then wool; fi
deploy:
  skip_cleanup: true
  provider: pypi
  user: uccdistravis
  password:
    secure: Av0fwc8xHYWpsvamlBQH/+HsPjCW8OIpUzPN2QAOWFXY4LzJmVI7FOHfTanYCQkFjoAFu/57r0ZKf1Y4wxHDvMZtqZGJzZa8ChRgFFIVcZ8qGmXvjgjczrmR3Nxx28pAluIAtLtYSRfLKq+ckPmEmBK3r4rngErgeOnQ+DI+3vbQFOq1XgoLlLD6FQZjMAQAGnil99TK0KJblH5nXzX3lk9/+vvEclxg1Ud9K3ALWobfcuT1O2SL2MuwrDu4qw9ppNvQMr3mvRWpIFpJH1nu9AEeHq4NoM0xLrWQf+9s9WzC4bSbiVTEwsXOwZ0AZTDKWWaqEzAO5VB1QIclhI5fcOP4dDCTcGvgCmkMbV4Hdpy5oecNDoJfvBmP91quccE1pvuTFuCWXNKPscLRLSHep5zwy4DUQ2ODyIy04XYoufQOGwXVtpDhLQ7zEVWRFGcAMAjXjfU3ZBD/nolQg5cnkZN+jCos/xa+5GFsuP0ExSCSV+/ctYTi2BMXhO3kcf727DpnRYAbkj3bB56vLxjwRJXf64jMC/+mTommiRV4b3QaWxkP/mNYx58tdCCckhRRoyLnf/nOeGPP0mpyULxq2t5oU2TZZbv5H7eMWB9DiRmC+6lweMDjRh1QsMVCr9HSU0A4cSEA98VPdF7LiaKqIL68BQQ/lnLuDPjIS0fq838=
  on:
    tags: true
    python: '3.6'
