language: python
python:
- 3.6
- 3.7
- 3.8
- 3.9
- 3.10
jobs:
  allow_failures:
  - python: 3.6
before_install:
- pip install --upgrade pip
- 'curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -'
- source $HOME/.poetry/env
- which poetry
- poetry --version
install:
- poetry install -vv
- poetry show
script:
- poetry run pytest -vv ./tests
before_deploy:
- poetry config repositories.testpypi https://test.pypi.org/legacy/
- poetry config pypi-token.testpypi $PYPI_API_TOKEN
- poetry config pypi-token.pypi $PYPI_PROD_API_TOKEN
- poetry build
deploy:
# test pypi deployment on branches that are not master
- provider: script
  skip_cleanup: true
  script: poetry publish -n -vv -r testpypi || true
  on:
    python: 3.8
    repo: uc-cdis/gen3sdk-python
    tags: false
    all_branches: true
    condition: "$TRAVIS_BRANCH != master"
# real pypi deployment on tags on master
- provider: script
  skip_cleanup: true
  script: poetry publish -n -vv
  on:
    python: 3.8
    repo: uc-cdis/gen3sdk-python
    tags: true
env:
  global:
  - secure: jCslhsRF+cpozrC75nmYkBizmdBL/01StonnarwaWmCFBEzX22i6XklpUyROYRpvHTQ7SHJlFh+kmvptT4UmRxFCqKq/RNFq2We0rRhnfWNRsQOok5ENU5MDMgD0kl3RUeEElpVk36aQ8cUyybNyuel0ZFC1F+C5GOUKaCtiDrcX9RVu5jYbydi1W1RfsCNkmyJND8efdqBXD81BueXqP7xYxdyqz+f3du/1qIx5GR/X+jv6WE2Oum6EMq5tbiWf3qc6OnxNdNd0p/O7seBIZyvOZvFvX8Cx3PsCfSbWyeX0hcZCDIhnG5YTah944MplvVR70lOx0GvzmxHZCpxffUfliXLJCrBQy9RZbomXcXI6c1h88DMt6odYNDlZJpcV12sQypbWBr7FJb1En93FcSqpdoPKEU9eR+WzQ0/GNFL5KibZ95yQdwT31gnlnz7NLQz8ubdkrKMpZTbDM1HCAgLN326jMwYpn/RxRtXFcrxvA6sTxpsCQhWssIBRHv5sY0c5vlDkLADNAeA1s9+SOKWAKHJh5NzFby+vt59vi5QSkdWRsKwZsk01NNrBUFcJuDxsp9wTEO3NigzoYrnZXk2ews9+WRaiTmsEWa4/LSfY0afQA4ezbGVT4yY/tje2XFhsaYCT/JsJpHBgyNDadX6FaAraKw4oqsQDu76/KjU=
  - secure: cFv/73omvtKB7/3OYuIodzNwSLUlqJuGgtyTf0W6pN5oJSpcE9U4Ti/ub2aUABaH15e0Fdp+MxaL+j4x5/TmzGwrmpP8Ts2nueJNh1XeC2aO2S+YevRuV+8L4rwbFvZzYe/rL9hbKx9Ghiatc/fk147j4Svf/ZNWPBHgBloZaXWGR2kRxrRrjnogXceTR6K2mPUMUr0+azYDH0Zwuu3Y5HF/CT5DpxWGs657VjM6EiGsZ6UUq4sqj4XZKKjTtp/I8zPH1z6NliBDqVtASX3UsZewbiDaa1DIs4NBN5QDSR3/vQfVoouPFy7M/oIqIpvDFOWfHahA8ac3/CdlMAT64KknRodpm/s2uUxJOtrDOSBMtdREEc+yMuBPf85+s+Vk6B8upkIYnpI2d7vDaHSFBIlQk/IbaoUsRUVeacQ6b20JhPyYMrKnvG9/aW7KfYJr23SpRwjwvh6D4ejbmFtePrU/uk1Js81lCUkYHBBqDvRXW/BNMKxyXTyMlCL4om4gIlQpBmru+vpDGoHHLzO+I9axmBBKWq1HgR5nF89Nd6AMoSTzAwt+7xmMsgaDaMewZczBnLyeGiKNKATkQ66qdhqUB+6dmKpTyDCFOwRaDUOaH71f3wVamOQpoHUdCPNnIh1B6RuZaXylGyO2qtsr65bC2uZCHVw9dk3eeqL2TUU=
after_deploy:
- pip install gen3git
- gen3git release
