name: Build docs

on:
  pull_request:
    branches: [ master ]

jobs:
  build_docs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.head_ref }}
    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - uses: actions/cache@preview
      with:
        path: ~/.cache/pypoetry/virtualenvs
        key: ${{ runner.os }}-poetry-${{ hashFiles(format('{0}{1}', github.workspace, '/poetry.lock')) }}
        restore-keys: |
          ${{ runner.os }}-poetry-
    - name: Install dependencies
      run: |
        curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -

        echo "$HOME/.poetry/bin" >> $GITHUB_PATH
        source $HOME/.poetry/env
        poetry config virtualenvs.create false

        poetry install -vv
        echo ${{ env.pythonLocation }}/python3.6/site-packages
        pip show aiohttp || true
        poetry show
        sudo apt-get install python3-sphinx
    - name: Build docs
      run: |
        sphinx-build --version
        export PYTHONPATH="${PYTHONPATH}:${{ env.pythonLocation }}/python3.6/site-packages"
        ls ${{ env.pythonLocation }}/python3.6/site-packages
        cd docs
        poetry run make html
        cd ..

    - uses: stefanzweifel/git-auto-commit-action@v4.1.2
      with:
        commit_message: Apply automatic documentation changes

        # Optional name of the branch the commit should be pushed to
        # Required if Action is used in Workflow listening to the `pull_request` event
        branch: ${{ github.head_ref }}
